@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&family=Ruthie&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --dark-yellow: #bb9356;
  --yellow: #ffc80a;
  --light-text: #a5a5a5;
  --dark-black: #1b1b1b;
  --light-black: #222222;
}

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 1rem;
  background-color: var(--dark-yellow);
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -50%;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--dark-yellow);
  transition: all 0.3s linear;
}

.nav-link:hover::before {
  width: 100%;
}

.show {
  left: 0% !important;
}

/* ---------------********** NAVBAR SECTION START **********------------------------ */
/* ---------------********** HERO SECTION START **********------------------------ */
/* ---------------********** HERO SECTION START **********------------------------ */
/* ---------------********** HERO SECTION START **********------------------------ */
/* ---------------********** HERO SECTION START **********------------------------ */
